p {
  width: 50rem;
  max-width: 100%;
}

h1 {
  color: #4c4c4c;
}

.keyword {
  color: red;
}

.alias {
  color: green;
}

a {
  color: black;
}

@media (max-device-width: 480px) {
  p {
    width: 90%;
  }

  body {
    font-size: 2em;
  }
}
